.container {
    padding: 1em;
}

h1.display-1 {
    font-family: 'Bebas Neue';
    margin-bottom: 0.5em;
    font-size: 7em;
    padding: 0%;
    margin: 0%;
}

b {
    font-weight: bold;
}

.abt-body {
    height: max-content;
}

.abt-panel {
    padding: 1.5em;
    /* color: white; */
}

.img-row {
    width: fit-content;
    height:fit-content
}

.portrait-img {
    max-height: 12em;
    max-width: 12em;
    height: auto;
    width: auto;
    border-radius: 50%;
}
