
/* Common elements */

body {
    font-family: "Josefin Sans";
    color: var(--primary-black) !important;

}

h1 {
    opacity: 100%;
    text-align: left;
    font-family: "Bebas Neue";
    font-size: 4em;
}

h2 {
    opacity: 100%;
    text-align: left;
}

.container {
    background-color: var(--secondary-dark) !important;
    margin: 1em;
}
/* background */

#tsparticles {
    padding-left: 0em !important;
    margin-left: 0em !important;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0 !important;
    /* filter: blur(3px); */
}

.background-image-div {
    background: linear-gradient(
        0deg,
        hsl(211deg 100% 12%) 0%,
        hsl(211deg 90% 15%) 10%,
        hsl(211deg 81% 18%) 20%,
        hsl(212deg 73% 22%) 30%,
        hsl(212deg 68% 25%) 40%,
        hsl(212deg 64% 29%) 50%,
        hsl(212deg 62% 33%) 60%,
        hsl(212deg 60% 36%) 70%,
        hsl(212deg 58% 40%) 80%,
        hsl(212deg 57% 44%) 90%,
        hsl(212deg 56% 47%) 100%
        ); 
}

.particle-container {
    position: absolute;
    padding-left: 0em !important;
    margin-left: 0em !important;
    width: 100% !important;
    height: 100%;
    left: 0 !important;
    top: 5em;
    opacity: 100% !important;
    filter: blur(3px);
}
/* Foreground */

#foreground-parent {
    position: relative;
}

.particle-foreground {
    position: relative;
    text-align: left;
    z-index: 1 !important;
    background-color: var(--secondary-dark);
    padding: 1em;
}

.outlined {
    color: transparent !important;
    -webkit-text-stroke: black 0.025em;
}

/*FLEXBOX STUFF*/

.col {
    width: fit-content !important;
}
/*IMAGE STUFF*/

.self-img {
    border-radius: 50%;
    width: 8em;
    
}