form {
    display: flex;
    flex-direction: column;
}

.btn {
    width: fit-content;
    margin: 0.5em;
}

.profile-link {
    align-items: center;
    width: fit-content;
    padding: 0.125em;
    margin: 0.5em;
    border-radius: 0.25em;
}

.profile-link:hover {
    padding: 0.25em;
}

#findme {
    padding: 0.5em;
}