body {
    font-family: "Josefin Sans";
}



h1 {
    color: var(--primary-black) !important;
    opacity: 100%;
    text-align: center;
}

h2 {
    color: var(--primary-black) !important;
    opacity: 100%;
    text-align: center;
    
}

p {
    text-align: left;
}

#tsparticles {
    padding-left: 0em !important;
    margin-left: 0em !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(
        0deg,
        hsl(211deg 100% 12%) 0%,
        hsl(211deg 90% 15%) 10%,
        hsl(211deg 81% 18%) 20%,
        hsl(212deg 73% 22%) 30%,
        hsl(212deg 68% 25%) 40%,
        hsl(212deg 64% 29%) 50%,
        hsl(212deg 62% 33%) 60%,
        hsl(212deg 60% 36%) 70%,
        hsl(212deg 58% 40%) 80%,
        hsl(212deg 57% 44%) 90%,
        hsl(212deg 56% 47%) 100%
        );
    z-index: 30 !important;
    filter: blur(3px);
}


.particle-container {
    position: absolute;
    padding-left: 0em !important;
    margin-left: 0em !important;
    width: 100% !important;
    height: 100%;
    left: 0 !important;
    top: 5em;
    background-color: var(--secondary-dark) !important; 
    opacity: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    z-index: 39 !important;
}


.foreground-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--secondary-dark) !important;
    opacity: 100% !important;
    z-index: 40 !important;
}

.particle-foreground {
    align-self: flex-start !important;
    font-family: "Bebas Neue";
    z-index: 42;
}

.outlined {
    color: transparent !important;
    -webkit-text-stroke: black 0.025em;
}








