h1 {
    margin: 0.33em;
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    opacity: 100%;
    
}

#tsparticles {
    padding-left: 0em !important;
    margin-left: 0em !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.particle-container {
    position: absolute;
    padding-left: 0em !important;
    margin-left: 0em !important;
    width: 100% !important;
    height: 100%;
    left: 0 !important;
    top: 5em;
}
