.modal-body {
    align-self: center;
    width: max-content;
}

.modal-content {
    align-self: center;
}

.short-desc {
    font-size: medium;
}

.long-desc {
    font-style: normal;
}

.platform-header {
    font-variant: small-caps;
    font-size: small;
}

.has-bg-img {
    background-origin: border-box;
}

.gh-button {
    width: fit-content;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 0.125em;
}