.navbar {
    height: 5em;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    border-top: 0.1275rem solid var(--primary-dark);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

.navbar-nav > li > a.active, .navbar-nav > li > a:hover {
    border-top: 0.1275rem solid rgb(105, 67, 67);
}
