div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.project-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

p {
    font-style: italic;
}

.btn-primary {
    font-size: large;
}

.btn-group {
    width: 100%;
    padding: 1ch;
}

.has-bg-img {
    padding: 1em;
    /* display: inline-block; */
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    background-origin: border-box;
    align-content: center;
}


.bg-img {
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* filters */
    filter: blur(2px) brightness(30%);
    translate: (-1em, 1em);
}

.lang-list {
    max-width: 15ch;
    align-items: flex-start;
}

.lang-logo {
    height: 3.5ch;
    width: 3.5ch;
    margin: 0.125ch;
    
}
/* this cascades to modal.css */

