div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.project-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.btn-primary {
    font-size: large;
}

.btn-group {
    width: 100%;
    padding: 1ch;
}

.has-bg-img {
    padding: 1em;
    margin: 0.5em;
    opacity: 85%;
    background-color: var(--oxfordblue);
    backdrop-filter: brightness(20%) blur(10px);
    background-blend-mode: multiply
}