

.text-primary {
    color: black !important;
    font-family: 'Bebas Neue';
}

.project-header {
    text-align: left !important;
    background-color: transparent !important;
    padding: 0.5em;
}


.container {
    background: var(--secondary-dark); 
    width: fit-content;
 }

 .description-row {
     display: flex;
     flex-direction: row;
 }

 .outer-container {
     background: transparent !important;
 }

 .row {
      width: fit-content;
      justify-content: flex-start !important;
 }


