div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.project-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

p {
    font-style: italic;
}

.btn-primary {
    font-size: large;
}

.btn-group {
    width: 100%;
    padding: 1ch;
}

.panel-bg {
    padding: 0.75em;
    background-size: cover;
    background-position: center;
    background-color: none;
    backdrop-filter: blur(8px);
}

/* this cascades to modal.css */

