h1 {
    margin: 0.25em;
    padding: 0.1em;
}

p {
    width: fit-content;
    padding: 0em;
}

.row {
    align-items: center;
    justify-content: flex-start;
}

.col {
    justify-content: flex-start;

}

.lang-col {
    margin: 0.5em;
}

.lang-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.badge {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
    justify-content: flex-start;
    width: fit-content;
}

/* ==================================== */

.skill-row {
    padding: 1em;
    margin: 0.5em;
    border-radius: 1em;
    color: white;
}

.frm-logo {
    width: 3em;
}

.frm-name {
    width: fit-content;
    padding-right: 0%;
}

.frm-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    max-width: 35%;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
}

.frm-lower {
    font-size: x-small;
    margin: 0.25ef;
    position: relative;
    padding: 0.5em;
}

.frm-desc {
    flex-wrap: wrap;
    padding: 0%;
    margin: 1em;
    
}


/* ================================= */

.tool-panel {
    padding: 0.5em;
    border-radius: 0.5em;
}

.tool-logo {
    height: 3em;
    width: 3em;
}

.tool-row {
    padding: 1em;
}

.tool-label {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.fit-col {
    width: fit-content;
    vertical-align: middle;
}

.fit-row {
    width: fit-content;
    vertical-align: middle;
}