h1 {
    margin: 0.25em;
    padding: 0.1em;
}

.row {
   align-items: center;
   justify-content: flex-start;
}
.col {
    justify-content: flex-start;
}

.lang-col {
    margin: 0.5em;
}

.lang-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.badge {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
    justify-content: flex-start;
    width: fit-content;
    color: var(--bs-dark);
}

/* ==================================== */

.skill-row {
    padding: 1em;
    margin: 0.5em;
    border-radius: 1em;
    color: white;
}

.frm-logo {
    height: 4em;
    width: 4em;
    justify-self: left;
}

.frm-name {
    width: fit-content;
}

.frm-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;
}