:root {
  --cyberyellow: #f9cf09;
  --bluesapphire: #2a5568;
  --bone: #cdcfc1;
  --oxfordblue: #041c2e;
  --tealblue: #4c7384;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


